<div class="event-form-container">
  <h1>Edit Event</h1>

  <div class="event-form">
    <%= render 'form', event: @event %>
  </div>

  <div class="event-form-actions">
    <%= link_to "Back to Events", events_path, class: "button back-button" %>
  </div>
</div>
